#main-container {
    background-color: #b4d1e6;
    height: 300px;
    border: 2px solid #8193b8;
    border-radius: 16px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

#header{
    color: #46536b;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    
}

#numday, #month, #year {
    margin-top: 5px;
}


.btn{
    color: #46536b;
    background-color: #8193b8;
}

#result{
    color: #46536b;
    font-weight: 400px; 
}
